In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import warnings
import pandas as pd
from scipy.io import arff
from sklearn.metrics import hamming_loss, classification_report
# from sklearn.metrics import precision_score, recall_score, confusion_matrix
from sklearn.metrics import accuracy_score, label_ranking_loss, coverage_error, average_precision_score, zero_one_loss
# from sklearn.metrics import roc_auc_score
from sklearn.metrics import label_ranking_average_precision_score
from sklearn.metrics import jaccard_score
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import time

In [3]:
dset = pd.read_csv("../datasets/Mediamill/full_mediamill.csv")
print(dset.shape)
print(dset.head(5))

(43907, 221)
       Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
0  0.030658  0.047593  0.045451  0.065483  0.016068  0.035765  0.072900
1  0.033065  0.051797  0.053786  0.071402  0.016497  0.037582  0.078430
2  0.033720  0.051995  0.047195  0.073210  0.018109  0.038647  0.078233
3  0.034193  0.054252  0.051919  0.071560  0.016731  0.036982  0.076624
4  0.034325  0.053388  0.054354  0.071372  0.015467  0.036048  0.077893

       Att8      Att9     Att10  ...  Class92  Class93  Class94  Class95  \
0  0.044825  0.023245  0.016258  ...        0        0        0        0
1  0.050040  0.023952  0.016882  ...        0        0        0        0
2  0.047599  0.026051  0.017771  ...        0        0        0        0
3  0.049038  0.025251  0.017339  ...        0        0        0        0
4  0.050154  0.023365  0.016654  ...        0        0        0        0

   Class96  Class97  Class98  Class99  Class100  Class101
0        0        0        0        0         0         0
1        0        0        0        0         0         0
2        0        0        0        0         0         0
3        0        0        0        0         0         0
4        0        0        0        0         0         0

[5 rows x 221 columns]

In [7]:
dset_features = dset.iloc[:, : 120] # MEDIA MILL
features = dset_features.columns
print(features)

Index(['Att1', 'Att2', 'Att3', 'Att4', 'Att5', 'Att6', 'Att7', 'Att8', 'Att9',
       'Att10',
       ...
       'Att111', 'Att112', 'Att113', 'Att114', 'Att115', 'Att116', 'Att117',
       'Att118', 'Att119', 'Att120'],
      dtype='object', length=120)

In [6]:
dset_classes = dset.iloc[:, 120 : ] # MEDIA MILL
classes = dset_classes.columns
print(classes)

Index(['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6', 'Class7',
       'Class8', 'Class9', 'Class10',
       ...
       'Class92', 'Class93', 'Class94', 'Class95', 'Class96', 'Class97',
       'Class98', 'Class99', 'Class100', 'Class101'],
      dtype='object', length=101)

In [19]:
X_Train, X_Test, Y_Train_All, Y_Test_All = train_test_split(dset_features, dset_classes, test_size = 0.3)
print(X_Train.shape, Y_Train_All.shape, X_Test.shape, Y_Test_All.shape)
print(X_Train.head(5))
print(Y_Train_All.head(5))

(30734, 120) (30734, 101) (13173, 120) (13173, 101)
           Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
37062  0.508607  0.466852  0.412322  0.469361  0.250301  0.415183  0.386494
4615   0.353235  0.513883  0.610472  0.378967  0.135246  0.290312  0.356885
17989  0.437028  0.495769  0.469801  0.471598  0.218336  0.399824  0.386875
33459  0.494520  0.530252  0.499475  0.446194  0.219825  0.397601  0.387360
20613  0.447111  0.445545  0.425791  0.318707  0.228314  0.319065  0.287261

           Att8      Att9     Att10  ...    Att111    Att112    Att113  \
37062  0.475056  0.349070  0.321991  ...  0.578316  0.517407  0.566168
4615   0.526007  0.236003  0.199765  ...  0.612803  0.563426  0.608370
17989  0.523524  0.319068  0.273263  ...  0.619599  0.535333  0.603098
33459  0.527498  0.335922  0.304522  ...  0.637939  0.542455  0.584002
20613  0.402167  0.337585  0.316594  ...  0.559543  0.524971  0.529205

         Att114    Att115    Att116    Att117    Att118    Att119    Att120
37062  0.516881  0.492088  0.237170  0.578894  0.385929  0.593769  0.446284
4615   0.586517  0.570307  0.272519  0.610095  0.464794  0.633006  0.516860
17989  0.578075  0.538970  0.270504  0.623347  0.435093  0.634912  0.498841
33459  0.556028  0.521214  0.228206  0.602741  0.384336  0.610015  0.455010
20613  0.571623  0.538826  0.613973  0.513850  0.559451  0.578341  0.532427

[5 rows x 120 columns]
       Class1  Class2  Class3  Class4  Class5  Class6  Class7  Class8  Class9  \
37062       0       0       0       0       0       0       0       0       0
4615        0       0       0       0       0       0       0       0       0
17989       0       0       0       0       0       0       0       0       0
33459       0       0       0       0       0       0       0       0       0
20613       0       0       0       0       0       0       0       0       0

       Class10  ...  Class92  Class93  Class94  Class95  Class96  Class97  \
37062        0  ...        0        0        1        0        1        0
4615         0  ...        0        0        0        0        0        0
17989        0  ...        0        0        0        0        0        0
33459        0  ...        0        0        0        0        0        0
20613        0  ...        0        0        0        0        0        0

       Class98  Class99  Class100  Class101
37062        0        0         0         0
4615         0        0         0         0
17989        0        0         0         0
33459        0        0         0         0
20613        0        0         0         0

[5 rows x 101 columns]

In [22]:
print(type(X_Train))

<class 'pandas.core.frame.DataFrame'>

## Birds

In [14]:
data_train = arff.loadarff(r'../Datasets/birds-train.arff')
data_test = arff.loadarff(r'../Datasets/birds-test.arff')
df_train = pd.DataFrame(data_train[0])
df_test = pd.DataFrame(data_test[0])

In [16]:
df_train.head()

,audio-ssd1,audio-ssd2,audio-ssd3,audio-ssd4,audio-ssd5,audio-ssd6,audio-ssd7,audio-ssd8,audio-ssd9,audio-ssd10,...,Hermit Warbler,Swainson\'s Thrush,Hammond\'s Flycatcher,Western Tanager,Black-headed Grosbeak,Golden Crowned Kinglet,Warbling Vireo,MacGillivray\'s Warbler,Stellar\'s Jay,Common Nighthawk
0,0.016521,0.039926,0.089632,0.134119,0.170470,0.176872,0.171546,0.182392,0.162482,0.159083,...,b'0',b'0',b'1',b'1',b'0',b'0',b'0',b'0',b'0',b'0'
1,0.006600,0.035984,0.089956,0.123214,0.172273,0.177068,0.165507,0.179655,0.161744,0.163678,...,b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
2,0.006894,0.017722,0.048062,0.065802,0.103443,0.091397,0.084931,0.088666,0.075676,0.074408,...,b'0',b'1',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
3,0.031046,0.127675,0.221428,0.272707,0.358743,0.349389,0.316029,0.330656,0.310752,0.306288,...,b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
4,0.064721,0.226644,0.304482,0.274662,0.346980,0.334063,0.307223,0.324666,0.297070,0.292258,...,b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'

In [43]:
df_train.iloc[:, 259]

0       b'1'
1       b'1'
2       b'1'
3       b'1'
4       b'1'
       ...
317    b'17'
318    b'17'
319    b'17'
320    b'17'
321    b'17'
Name: location, Length: 322, dtype: object