In [5]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import warnings
import pandas as pd
from scipy.io import arff
from sklearn.metrics import hamming_loss, classification_report
# from sklearn.metrics import precision_score, recall_score, confusion_matrix
from sklearn.metrics import accuracy_score, label_ranking_loss, coverage_error, average_precision_score, zero_one_loss
# from sklearn.metrics import roc_auc_score
from sklearn.metrics import label_ranking_average_precision_score
from sklearn.metrics import jaccard_score
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
import time

## Mediamill

In [3]:
dset = pd.read_csv("../datasets/Mediamill/full_mediamill.csv")
print(dset.shape)
print(dset.head(5))

(43907, 221)
       Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
0  0.030658  0.047593  0.045451  0.065483  0.016068  0.035765  0.072900
1  0.033065  0.051797  0.053786  0.071402  0.016497  0.037582  0.078430
2  0.033720  0.051995  0.047195  0.073210  0.018109  0.038647  0.078233
3  0.034193  0.054252  0.051919  0.071560  0.016731  0.036982  0.076624
4  0.034325  0.053388  0.054354  0.071372  0.015467  0.036048  0.077893

       Att8      Att9     Att10  ...  Class92  Class93  Class94  Class95  \
0  0.044825  0.023245  0.016258  ...        0        0        0        0
1  0.050040  0.023952  0.016882  ...        0        0        0        0
2  0.047599  0.026051  0.017771  ...        0        0        0        0
3  0.049038  0.025251  0.017339  ...        0        0        0        0
4  0.050154  0.023365  0.016654  ...        0        0        0        0

   Class96  Class97  Class98  Class99  Class100  Class101
0        0        0        0        0         0         0
1        0        0        0        0         0         0
2        0        0        0        0         0         0
3        0        0        0        0         0         0
4        0        0        0        0         0         0

[5 rows x 221 columns]

In [7]:
dset_features = dset.iloc[:, : 120] # MEDIA MILL
features = dset_features.columns
print(features)

Index(['Att1', 'Att2', 'Att3', 'Att4', 'Att5', 'Att6', 'Att7', 'Att8', 'Att9',
       'Att10',
       ...
       'Att111', 'Att112', 'Att113', 'Att114', 'Att115', 'Att116', 'Att117',
       'Att118', 'Att119', 'Att120'],
      dtype='object', length=120)

In [6]:
dset_classes = dset.iloc[:, 120 : ] # MEDIA MILL
classes = dset_classes.columns
print(classes)

Index(['Class1', 'Class2', 'Class3', 'Class4', 'Class5', 'Class6', 'Class7',
       'Class8', 'Class9', 'Class10',
       ...
       'Class92', 'Class93', 'Class94', 'Class95', 'Class96', 'Class97',
       'Class98', 'Class99', 'Class100', 'Class101'],
      dtype='object', length=101)

In [19]:
X_Train, X_Test, Y_Train_All, Y_Test_All = train_test_split(dset_features, dset_classes, test_size = 0.3)
print(X_Train.shape, Y_Train_All.shape, X_Test.shape, Y_Test_All.shape)
print(X_Train.head(5))
print(Y_Train_All.head(5))

(30734, 120) (30734, 101) (13173, 120) (13173, 101)
           Att1      Att2      Att3      Att4      Att5      Att6      Att7  \
37062  0.508607  0.466852  0.412322  0.469361  0.250301  0.415183  0.386494
4615   0.353235  0.513883  0.610472  0.378967  0.135246  0.290312  0.356885
17989  0.437028  0.495769  0.469801  0.471598  0.218336  0.399824  0.386875
33459  0.494520  0.530252  0.499475  0.446194  0.219825  0.397601  0.387360
20613  0.447111  0.445545  0.425791  0.318707  0.228314  0.319065  0.287261

           Att8      Att9     Att10  ...    Att111    Att112    Att113  \
37062  0.475056  0.349070  0.321991  ...  0.578316  0.517407  0.566168
4615   0.526007  0.236003  0.199765  ...  0.612803  0.563426  0.608370
17989  0.523524  0.319068  0.273263  ...  0.619599  0.535333  0.603098
33459  0.527498  0.335922  0.304522  ...  0.637939  0.542455  0.584002
20613  0.402167  0.337585  0.316594  ...  0.559543  0.524971  0.529205

         Att114    Att115    Att116    Att117    Att118    Att119    Att120
37062  0.516881  0.492088  0.237170  0.578894  0.385929  0.593769  0.446284
4615   0.586517  0.570307  0.272519  0.610095  0.464794  0.633006  0.516860
17989  0.578075  0.538970  0.270504  0.623347  0.435093  0.634912  0.498841
33459  0.556028  0.521214  0.228206  0.602741  0.384336  0.610015  0.455010
20613  0.571623  0.538826  0.613973  0.513850  0.559451  0.578341  0.532427

[5 rows x 120 columns]
       Class1  Class2  Class3  Class4  Class5  Class6  Class7  Class8  Class9  \
37062       0       0       0       0       0       0       0       0       0
4615        0       0       0       0       0       0       0       0       0
17989       0       0       0       0       0       0       0       0       0
33459       0       0       0       0       0       0       0       0       0
20613       0       0       0       0       0       0       0       0       0

       Class10  ...  Class92  Class93  Class94  Class95  Class96  Class97  \
37062        0  ...        0        0        1        0        1        0
4615         0  ...        0        0        0        0        0        0
17989        0  ...        0        0        0        0        0        0
33459        0  ...        0        0        0        0        0        0
20613        0  ...        0        0        0        0        0        0

       Class98  Class99  Class100  Class101
37062        0        0         0         0
4615         0        0         0         0
17989        0        0         0         0
33459        0        0         0         0
20613        0        0         0         0

[5 rows x 101 columns]

In [22]:
print(type(X_Train))

<class 'pandas.core.frame.DataFrame'>

In [56]:
df = pd.read_csv(r'../Datasets/mediamill_120.csv')
df.head()

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Class92,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100,Class101
0,0.030658,0.047593,0.045451,0.065483,0.016068,0.035765,0.072900,0.044825,0.023245,0.016258,...,0,0,0,0,0,0,0,0,0,0
1,0.033065,0.051797,0.053786,0.071402,0.016497,0.037582,0.078430,0.050040,0.023952,0.016882,...,0,0,0,0,0,0,0,0,0,0
2,0.033720,0.051995,0.047195,0.073210,0.018109,0.038647,0.078233,0.047599,0.026051,0.017771,...,0,0,0,0,0,0,0,0,0,0
3,0.034193,0.054252,0.051919,0.071560,0.016731,0.036982,0.076624,0.049038,0.025251,0.017339,...,0,0,0,0,0,0,0,0,0,0
4,0.034325,0.053388,0.054354,0.071372,0.015467,0.036048,0.077893,0.050154,0.023365,0.016654,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df_ = df.iloc[:, 120:]
df_

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,...,Class92,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100,Class101
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43902,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
43903,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
43904,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43905,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
43906,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0

In [59]:
freq = 0.02
#dropping useless classes
cols_dropped = []
for col in df_.columns:
    min_val = 1000000009
    sum = 0
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
        sum = sum + item
    if min_val / sum < freq:
        cols_dropped.append(col)
print(len(cols_dropped))

72

In [60]:
# dropping useless features
features_dropped = []
df_f = df_.iloc[:, :120]
for col in df_f.columns:
    cnt = 0
    for item in df_f.groupby(col).size():
            cnt = cnt + 1
    if cnt < 2:
        features_dropped.append(col)
print(len(features_dropped))

0

In [61]:
df_new = df.drop(cols_dropped, axis=1)
df_new = df_new.drop(features_dropped, axis=1)
df_new.head()

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Class76,Class79,Class84,Class85,Class94,Class95,Class96,Class97,Class98,Class99
0,0.030658,0.047593,0.045451,0.065483,0.016068,0.035765,0.072900,0.044825,0.023245,0.016258,...,0,0,0,0,0,0,0,0,0,0
1,0.033065,0.051797,0.053786,0.071402,0.016497,0.037582,0.078430,0.050040,0.023952,0.016882,...,0,0,0,0,0,0,0,0,0,0
2,0.033720,0.051995,0.047195,0.073210,0.018109,0.038647,0.078233,0.047599,0.026051,0.017771,...,0,0,0,0,0,0,0,0,0,0
3,0.034193,0.054252,0.051919,0.071560,0.016731,0.036982,0.076624,0.049038,0.025251,0.017339,...,0,0,0,0,0,0,0,0,0,0
4,0.034325,0.053388,0.054354,0.071372,0.015467,0.036048,0.077893,0.050154,0.023365,0.016654,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df_new.isnull().values.any()

False

In [64]:
df_new.to_csv('mediamill_119.csv', index=False)

## RC1V1

In [65]:
df = pd.read_csv(r'../Datasets/rc1.csv')
df.head()

,Unnamed: 0,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,...,Class92,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100,Class101
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
df_ = df.iloc[:, 47237:]
df_.head()

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,...,Class92,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100,Class101
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
df

,Unnamed: 0,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,...,Class92,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100,Class101
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5996,5996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5997,5997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5998,5998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
5999,5999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
freq = 0.02
#dropping useless classes
cols_dropped = []
for col in df_.columns:
    min_val = 1000000009
    sum = 0
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
        sum = sum + item
    if min_val / sum < freq:
        cols_dropped.append(col)
print(len(cols_dropped))

59

In [79]:
# dropping useless features
features_dropped = []
df_f = df_.iloc[:, :47237]
for col in df_f.columns:
    cnt = 0
    for item in df_f.groupby(col).size():
            cnt = cnt + 1
    if cnt < 2:
        features_dropped.append(col)
print(len(features_dropped))

0

In [80]:
df_new = df.drop(cols_dropped, axis=1)
df_new = df_new.drop(features_dropped, axis=1)
df_new.head()

,Unnamed: 0,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,...,Class88,Class90,Class93,Class94,Class95,Class96,Class97,Class98,Class99,Class100
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
df_new.to_csv('rcv1_47236.csv', index=False)

## Birds

In [3]:
df_train = pd.read_csv(r'../Datasets/birds-train.csv')
df_test = pd.read_csv(r'../Datasets/birds-test.csv')

In [4]:
df_train.head()

,audio-ssd1,audio-ssd2,audio-ssd3,audio-ssd4,audio-ssd5,audio-ssd6,audio-ssd7,audio-ssd8,audio-ssd9,audio-ssd10,...,'Hermit Warbler','Swainson\'s Thrush','Hammond\'s Flycatcher','Western Tanager','Black-headed Grosbeak','Golden Crowned Kinglet','Warbling Vireo','MacGillivray\'s Warbler','Stellar\'s Jay','Common Nighthawk'
0,0.016521,0.039926,0.089632,0.134119,0.170470,0.176872,0.171546,0.182392,0.162482,0.159083,...,0,0,1,1,0,0,0,0,0,0
1,0.006600,0.035984,0.089956,0.123214,0.172273,0.177068,0.165507,0.179655,0.161744,0.163678,...,0,0,0,0,0,0,0,0,0,0
2,0.006894,0.017722,0.048062,0.065802,0.103443,0.091397,0.084931,0.088666,0.075676,0.074408,...,0,1,0,0,0,0,0,0,0,0
3,0.031046,0.127675,0.221428,0.272707,0.358743,0.349389,0.316029,0.330656,0.310752,0.306288,...,0,0,0,0,0,0,0,0,0,0
4,0.064721,0.226644,0.304482,0.274662,0.346980,0.334063,0.307223,0.324666,0.297070,0.292258,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_train.iloc[:, 257]

0       1761.802180
1          0.000000
2        113.137085
3          0.000000
4          0.000000
           ...
317        0.000000
318     1177.918503
319      179.605122
320    13831.376717
321     5433.887145
Name: std_rect_volume, Length: 322, dtype: float64

In [16]:
df = pd.concat([df_train, df_test])

In [18]:
df.to_csv('birds_260.csv', index=False)

## Emotions

In [52]:
df = pd.read_csv(r'../Datasets/emotion_72.csv')
df.head()

,Mean_Acc1298_Mean_Mem40_Centroid,Mean_Acc1298_Mean_Mem40_Rolloff,Mean_Acc1298_Mean_Mem40_Flux,Mean_Acc1298_Mean_Mem40_MFCC_0,Mean_Acc1298_Mean_Mem40_MFCC_1,Mean_Acc1298_Mean_Mem40_MFCC_2,Mean_Acc1298_Mean_Mem40_MFCC_3,Mean_Acc1298_Mean_Mem40_MFCC_4,Mean_Acc1298_Mean_Mem40_MFCC_5,Mean_Acc1298_Mean_Mem40_MFCC_6,...,BH_HighLowRatio,BHSUM1,BHSUM2,BHSUM3,amazed-suprised,happy-pleased,relaxing-calm,quiet-still,sad-lonely,angry-aggresive
0,0.034741,0.089665,0.091225,-73.302422,6.215179,0.615074,2.037160,0.804065,1.301409,0.558576,...,2,0.245457,0.105065,0.405399,0,1,1,0,0,0
1,0.081374,0.272747,0.085733,-62.584437,3.183163,-0.218145,0.163038,0.620251,0.458514,0.041426,...,2,0.343547,0.276366,0.710924,1,0,0,0,0,1
2,0.110545,0.273567,0.084410,-65.235325,2.794964,0.639047,1.281297,0.757896,0.489412,0.627636,...,3,0.188693,0.045941,0.457372,0,1,0,0,0,1
3,0.042481,0.199281,0.093447,-80.305152,5.824409,0.648848,1.754870,1.495532,0.739909,0.809644,...,2,0.102839,0.241934,0.351009,0,0,1,0,0,0
4,0.074550,0.140880,0.079789,-93.697749,5.543229,1.064262,0.899152,0.890336,0.702328,0.490685,...,2,0.195196,0.310801,0.683817,0,0,0,1,0,0

In [53]:
df.iloc[:, 72]

(593,)

## Scenes

In [54]:
df = pd.read_csv(r'../Datasets/scene_294.csv')
df.head()

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Att291,Att292,Att293,Att294,Beach,Sunset,FallFoliage,Field,Mountain,Urban
0,0.646467,0.666435,0.685047,0.699053,0.652746,0.407864,0.150309,0.535193,0.555689,0.580782,...,0.157332,0.247298,0.014025,0.029709,1,0,0,0,1,0
1,0.770156,0.767255,0.761053,0.745630,0.742231,0.688086,0.708416,0.757351,0.760633,0.740314,...,0.251454,0.137833,0.082672,0.036320,1,0,0,0,0,1
2,0.793984,0.772096,0.761820,0.762213,0.740569,0.734361,0.722677,0.849128,0.839607,0.812746,...,0.017166,0.051125,0.112506,0.083924,1,0,0,0,0,0
3,0.938563,0.949260,0.955621,0.966743,0.968649,0.869619,0.696925,0.953460,0.959631,0.966320,...,0.019267,0.031290,0.049780,0.090959,1,0,0,0,0,0
4,0.512130,0.524684,0.520020,0.504467,0.471209,0.417654,0.364292,0.562266,0.588592,0.584449,...,0.198151,0.238796,0.164270,0.184290,1,0,0,0,0,0

In [55]:
df.iloc[:, 292 : 299]

        Att293    Att294  Beach  Sunset  FallFoliage  Field  Mountain
0     0.014025  0.029709      1       0            0      0         1
1     0.082672  0.036320      1       0            0      0         0
2     0.112506  0.083924      1       0            0      0         0
3     0.049780  0.090959      1       0            0      0         0
4     0.164270  0.184290      1       0            0      0         0
...        ...       ...    ...     ...          ...    ...       ...
2402  0.254413  0.134350      0       0            0      0         0
2403  0.048747  0.041638      0       0            0      0         0
2404  0.017547  0.019734      0       0            0      0         0
2405  0.226332  0.223070      0       0            0      0         0
2406  0.025059  0.004033      0       0            0      0         0

[2407 rows x 7 columns]

## Yeast

In [56]:
df = pd.read_csv(r'../Datasets/yeast_103.csv')
df.head()

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14
0,0.004168,-0.170975,-0.156748,-0.142151,0.058781,0.026851,0.197719,0.041850,0.066938,-0.056617,...,0,0,1,1,0,0,0,1,1,0
1,-0.103956,0.011879,-0.098986,-0.054501,-0.007970,0.049113,-0.030580,-0.077933,-0.080529,-0.016267,...,0,0,0,0,0,0,0,0,0,0
2,0.509949,0.401709,0.293799,0.087714,0.011686,-0.006411,-0.006255,0.013646,-0.040666,-0.024447,...,0,0,0,0,0,0,0,1,1,0
3,0.119092,0.004412,-0.002262,0.072254,0.044512,-0.051467,0.074686,-0.007670,0.079438,0.062184,...,0,0,0,0,0,0,0,0,0,0
4,0.042037,0.007054,-0.069483,0.081015,-0.048207,0.089446,-0.004947,0.064456,-0.133387,0.068878,...,1,1,0,0,0,0,0,0,0,0

In [59]:
df.iloc[:, 103:]

,Class1,Class2,Class3,Class4,Class5,Class6,Class7,Class8,Class9,Class10,Class11,Class12,Class13,Class14
0,0,0,0,0,0,0,1,1,0,0,0,1,1,0
1,0,0,1,1,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,1,1,0
3,0,0,1,1,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,1,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2412,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2413,1,1,0,0,0,0,0,0,0,0,0,1,1,0
2414,0,0,0,0,0,1,1,1,0,0,0,1,1,0
2415,0,0,0,0,0,0,0,0,0,0,0,1,1,0
2416,0,1,1,0,0,0,0,0,0,0,0,1,1,0

## Genbase

In [10]:
df = pd.read_csv(r'../Datasets/genbase_1186.csv')
df.head()

,protein,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,PS00021,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,O00060,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,O00139,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O02741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O08424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O12984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_ = df.iloc[:, 1186:]
df_

,PDOC00154,PDOC00343,PDOC00271,PDOC00064,PDOC00791,PDOC00380,PDOC50007,PDOC00224,PDOC00100,PDOC00670,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
658,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
659,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
660,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
max_val = -1
for col in df_.columns:
    for val in df_[col]:
        max_val = max(max_val, val)
print(max_val)

1

In [18]:
cols_dropped = []
t = 0.02
for col in df_.columns:
    min_val = 1000000009
    sum = 0
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
        sum = sum + item
    if min_val / sum < t:
        cols_dropped.append(col)
        print(min_val, sum, min_val / sum, col)

6 662 0.00906344410876133 PDOC00100
4 662 0.006042296072507553 PDOC50006
9 662 0.013595166163141994 PDOC00018
5 662 0.0075528700906344415 PDOC50001
2 662 0.0030211480362537764 PDOC00014
3 662 0.004531722054380665 PDOC00750
2 662 0.0030211480362537764 PDOC50196
1 662 0.0015105740181268882 PDOC50199
1 662 0.0015105740181268882 PDOC00660
1 662 0.0015105740181268882 PDOC00653
3 662 0.004531722054380665 PDOC00030

In [37]:
freq = 10
#dropping useless classes
cols_dropped = []
for col in df_.columns:
    min_val = 1000000009
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
    if min_val < freq:
        cols_dropped.append(col)
        print(min_val, col)

6 PDOC00100
4 PDOC50006
9 PDOC00018
5 PDOC50001
2 PDOC00014
3 PDOC00750
2 PDOC50196
1 PDOC50199
1 PDOC00660
1 PDOC00653
3 PDOC00030

In [38]:
df_new = df.drop(cols_dropped, axis=1)
df_new.head()

,protein,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,PS00021,...,PDOC50007,PDOC00224,PDOC00670,PDOC50002,PDOC50106,PDOC00561,PDOC50017,PDOC50003,PDOC50156,PDOC00662
0,O00060,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,O00139,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O02741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O08424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O12984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
# dropping useless features
features_dropped = []
df_f = df_new.iloc[:, :1187]
for col in df_f.columns:
    cnt = 0
    for item in df_f.groupby(col).size():
            cnt = cnt + 1
    if cnt < 2:
        features_dropped.append(col)

In [40]:
df_new = df_new.drop(features_dropped, axis=1)
df_new.head()

,protein,PS00014,PS00017,PS00018,PS00027,PS00066,PS00120,PS00136,PS00190,PS00197,...,PDOC50007,PDOC00224,PDOC00670,PDOC50002,PDOC50106,PDOC00561,PDOC50017,PDOC50003,PDOC50156,PDOC00662
0,O00060,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,O00139,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O02741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O08424,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O12984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df_new.iloc[:, 110:115]

     PS50600  PS50804  PS50821  PDOC00154  PDOC00343
0          0        0        0          1          0
1          0        0        0          0          1
2          0        0        0          0          0
3          0        0        0          0          0
4          0        0        0          0          0
..       ...      ...      ...        ...        ...
657        0        0        0          0          0
658        0        0        0          0          0
659        0        0        0          0          0
660        0        0        0          0          0
661        0        0        0          0          0

[662 rows x 5 columns]

In [41]:
df_new.to_csv('genbase_113.csv', index=False)

## Corel 5K

In [6]:
df = pd.read_csv(r'../Datasets/Corel5k_499.csv')
df.head()

,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Cluster10,...,reptile,snake,cougar,oahu,kauai,maui,school,canoe,race,hawaii
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df_ = df.iloc[:, 499:]
df_.head()

,city,mountain,sky,sun,water,clouds,tree,bay,lake,sea,...,reptile,snake,cougar,oahu,kauai,maui,school,canoe,race,hawaii
0,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
cols_dropped = []
t = 0.02
for col in df_.columns:
    min_val = 1000000009
    sum = 0
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
        sum = sum + item
    if min_val / sum < t:
        cols_dropped.append(col)
print(len(cols_dropped))

330

In [28]:
freq = 5
#dropping useless classes
cols_dropped = []
for col in df_.columns:
    min_val = 1000000009
    for item in df_.groupby(col).size():
        min_val = min(min_val, item)
    if min_val < freq:
        cols_dropped.append(col)
        print(min_val, col)
print(len(cols_dropped))

4 plain
3 shell
3 storm
4 helicopter
1 boeing
4 fall
1 diver
2 moon
3 cafe
4 crafts
4 sponges
4 festival
3 mural
4 star
4 butterfly
2 angelfish
1 grouper
2 sails
2 perch
1 model
3 carpet
3 floor
4 vegetables
4 rose
1 railing
4 vendor
3 parade
1 ladder
4 sidewalk
1 rapids
2 spider
4 doorway
4 pottery
1 military
1 mushrooms
2 tent
1 hawk
4 fawn
2 clearing
2 orchid
4 chrysanthemums
1 saguaro
2 hands
1 mast
3 texture
3 dust
1 pepper
4 eagle
3 pack
3 dall
4 rabbit
2 crops
4 animals
1 moss
3 trail
3 vehicle
1 aerial
1 insect
2 rice
1 glacier
1 harvest
3 shirt
2 tomb
1 shade
1 ceiling
1 furniture
1 lichen
3 pebbles
1 remains
1 leopard
1 jeep
3 calf
4 snake
2 cougar
2 school
1 canoe
1 race
77

In [9]:
# dropping useless features
features_dropped = []
df_f = df_.iloc[:, :499]
for col in df_f.columns:
    cnt = 0
    for item in df_f.groupby(col).size():
            cnt = cnt + 1
    if cnt < 2:
        features_dropped.append(col)
print(len(features_dropped))

0

In [33]:
df_new = df.drop(cols_dropped, axis=1)
df_new = df_new.drop(features_dropped, axis=1)
df_new.head()

,Cluster1,Cluster2,Cluster3,Cluster4,Cluster5,Cluster6,Cluster7,Cluster8,Cluster9,Cluster10,...,deer,mare,foals,train,desert,swimmers,tracks,locomotive,railroad,scotland
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_new.to_csv('corel5k_498.csv', index=False)

## Cal500

In [65]:
df = pd.read_csv(r'../Datasets/CAL500_68.csv')
df.head()

,Mean_Acc1000_Mean_Mem40_ZeroCrossings_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_Centroid_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_Rolloff_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_Flux_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC0_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC1_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC2_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC3_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC4_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Mean_Acc1000_Mean_Mem40_MFCC5_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,...,Genre-Best-World,Instrument_-_Acoustic_Guitar-Solo,Instrument_-_Electric_Guitar_(clean)-Solo,Instrument_-_Electric_Guitar_(distorted)-Solo,Instrument_-_Female_Lead_Vocals-Solo,Instrument_-_Harmonica-Solo,Instrument_-_Male_Lead_Vocals-Solo,Instrument_-_Piano-Solo,Instrument_-_Saxophone-Solo,Instrument_-_Trumpet-Solo
0,0.082540,0.048394,0.322451,0.099049,-73.856273,2.538128,2.723290,1.110571,1.154735,0.714657,...,0,0,0,0,0,0,1,0,0,0
1,0.059441,0.043863,0.078191,0.086971,-78.767468,6.717027,1.600860,1.272047,0.450724,1.198539,...,0,0,0,0,0,0,1,0,0,0
2,0.083345,0.058996,0.246741,0.096424,-71.946973,4.813112,1.858196,1.396135,-0.094299,0.540990,...,0,1,0,0,0,0,0,0,0,0
3,0.076437,0.051911,0.122605,0.088187,-73.749101,5.459250,0.555920,1.719144,0.433264,0.799224,...,0,0,0,0,0,0,0,0,0,0
4,0.126068,0.096357,0.216824,0.087664,-69.166725,5.272209,-1.238928,2.025569,-0.415534,0.657289,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.iloc[:, 68:]

,Std_Acc1000_Std_Mem40_MFCC10_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Std_Acc1000_Std_Mem40_MFCC11_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Std_Acc1000_Std_Mem40_MFCC12_Power_powerFFT_WinHamming_HopSize512_WinSize512_AudioCh0,Angry-Agressive,NOT-Emotion-Angry-Agressive
0,0.094990,0.080750,0.103943,0,1
1,0.077724,0.068808,0.079695,1,0
2,0.109605,0.064845,0.109822,0,0
3,0.075032,0.058229,0.074152,0,1
4,0.133299,0.113307,0.083284,0,1
...,...,...,...,...,...
497,0.066997,0.075749,0.065784,0,1
498,0.079183,0.068982,0.070084,0,1
499,0.116397,0.099659,0.089247,0,1
500,0.162008,0.151141,0.179247,0,1
501,0.111560,0.143430,0.171373,0,1

## Flags

In [67]:
df = pd.read_csv(r'../Datasets/flags_19.csv')
df.head()

,landmass,zone,area,population,language,religion,bars,stripes,colours,circles,...,icon,animate,text,red,green,blue,yellow,white,black,orange
0,5,1,648,16,10,2,0,3,5,0,...,1,0,0,1,1,0,1,1,1,0
1,3,1,29,3,6,6,0,0,3,0,...,0,1,0,1,0,0,1,0,1,0
2,4,1,2388,20,8,2,2,0,3,0,...,0,0,0,1,1,0,0,1,0,0
3,6,3,0,0,1,1,0,0,5,0,...,1,1,0,1,0,1,1,1,0,1
4,3,1,0,0,6,0,3,0,3,0,...,0,0,0,1,0,1,1,0,0,0

In [71]:
df.iloc[:, 19:]

     red  green  blue  yellow  white  black  orange
0      1      1     0       1      1      1       0
1      1      0     0       1      0      1       0
2      1      1     0       0      1      0       0
3      1      0     1       1      1      0       1
4      1      0     1       1      0      0       0
..   ...    ...   ...     ...    ...    ...     ...
189    1      0     1       0      1      0       0
190    1      0     1       1      1      0       0
191    1      1     0       1      0      0       1
192    1      1     0       0      0      1       1
193    1      1     0       1      1      1       0

[194 rows x 7 columns]

## RCV1S1

In [80]:
data = arff.loadarff(r'../Datasets/rcv1subset1-train.arff')
df = pd.DataFrame(data[0])
df.head()

ValueError: could not convert string to float: '{439 0.037683'

In [74]:
csv = pd.DataFrame()
file = "hello"
csv.to_csv(f"{file}_result.csv")

# Transformations

In [3]:
df = pd.read_csv(r'../Datasets/genbase_1186.csv')
df.head()

,protein,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,PS00021,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,O00060,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,0,0,0,0,0,0,0,0,0,0
1,O00139,NO,NO,NO,NO,YES,NO,NO,NO,NO,...,0,0,0,0,0,0,0,0,0,0
2,O02741,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,0,0,0,0,0,0,0,0,0,0
3,O08424,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,0,0,0,0,0,0,0,0,0,0
4,O12984,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,0,0,0,0,0,0,0,0,0,0

In [15]:
lst = df.columns[1:1186]
for col in lst:
    df[col].replace(['NO', 'YES'], [0, 1], inplace=True)
df.head()

,protein,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,PS00021,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,O00060,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,O00139,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,O02741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,O08424,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,O12984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df.to_csv('genbase_1186.csv')

In [19]:
df = pd.read_csv(r'../Datasets/genbase_1186.csv')
df.head()

,Unnamed: 0,protein,PS00010,PS00011,PS00012,PS00014,PS00017,PS00018,PS00019,PS00020,...,PDOC00662,PDOC00018,PDOC50001,PDOC00014,PDOC00750,PDOC50196,PDOC50199,PDOC00660,PDOC00653,PDOC00030
0,0,O00060,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,O00139,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,O02741,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,O08424,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,O12984,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
lst = []
for col in df.columns[1187:]:
    lst.append(df[col].sum())
print(lst)

[79, 76, 62, 49, 171, 23, 31, 51, 6, 66, 33, 29, 36, 14, 14, 4, 17, 41, 9, 5, 2, 3, 2, 1, 1, 1, 3]